body{
	background-color:  #f0fff4;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: sans serif;
    }
blockquote.q {
	color: #2e4a3d;
	border-left: 4px solid #8B0000;
	font-style: italic;
}
